* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    text-align: center;
    justify-content: center;

    margin-top: 160px;
}

.one {
    background: #0B2434;
    margin: 0 auto;
    width: 50%;
    padding: 30px 20px;
}
.two {
    background: whitesmoke;
    border-radius: 10px;
    padding: 33px 34px;
}

.sub-heading {
    margin: 0 auto;
    width: 350px;
}


.boxes {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    grid-gap: 20px;
    margin: 30px auto;
    justify-content: center;
    width: 50px;
}
.box {
    background: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 3.81277px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 22px;
    font-weight: bolder;
}
.box-clicked {
    background-color: #59E391;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 3.81277px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
    width: 50px;
    height: 50px;

    font-size: 25px;
    font-weight: bolder;
}
.btn {
    background: #5035FF;
    box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
    border-radius: 3.81277px;
    font-weight: 700;
    font-size: 16.384px;
    color: white;
    padding: 10px 40px;
    cursor: pointer;
}